#region https://docs.npmjs.com/cli/v10/using-npm/config

all=true

init-license="Apache-2.0"
init-version="0.0.1"

# --frozen-intrinsics and --disallow-code-generation-from-strings temporarily disabled because of TypeScript tsc
# --preserve-symlinks is temporarily disabled because of Vue
# --allow-addons is temporarily enabled for lightningcss
node-options=" --abort-on-uncaught-exception --allow-addons --allow-child-process --allow-fs-read=* --allow-fs-write=* --allow-worker --disable-proto=throw --experimental-detect-module --experimental-import-meta-resolve --experimental-permission --experimental-wasm-modules --experimental-websocket --force-context-aware --force-node-api-uncaught-exceptions-policy --pending-deprecation --tls-min-v1.3 --use-largepages=silent --disable-warning=ExperimentalWarning --redirect-warnings=node-warning.log "

loglevel="info"

logs-max=32

long=true

message="build: bump version to %s"

sign-git-commit=true

sign-git-tag=true

#endregion

#region https://pnpm.io/npmrc

hoist=false

hoist-workspace-packages=false

hoist-pattern=[]

public-hoist-pattern[]=*electron*

modules-cache-max-age=1440

lockfile-include-tarball-url=true

strict-peer-dependencies=true

child-concurrency=16

link-workspace-packages=true

prefer-workspace-packages=true

save-workspace-protocol=false

ignore-workspace-cycles=true

save-prefix=""

dedupe-direct-deps=true

#region https://pnpm.io/cli/run

shell-emulator=true

#endregion

#region https://pnpm.io/cli/recursive

workspace-concurrency=-1

#endregion

#endregion
