auto-install-peers=false

child-concurrency=16

dedupe-direct-deps=true

hoist=false

hoist-workspace-packages=false

link-workspace-packages=true

manage-package-manager-versions=false

node-linker=isolated

package-import-method=hardlink

prefer-workspace-packages=true

resolution-mode=highest

resolve-peers-from-workspace-root=false

save-prefix=

save-workspace-protocol=false

shell-emulator=false

strict-peer-dependencies=true

supported-architectures.os=darwin,linux,current
supported-architectures.cpu=x64,arm64,current
supported-architectures.libc=glibc,musl,current
