# These formats are handled by dprint.
# See @monochromatic.dev/dprint

**/*.js
**/*.mjs
**/*.cjs
**/*.jsx

**/*.ts
**/*.mts
**/*.cts
**/*.tsx

**/*.md
# TODO: Maybe not? Maybe Prettier has better support for mdx than dprint
**/*.mdx

**/*.json
**/*.jsonc

**/*.toml

**/*.dockerfile
**/dockerfile

# Generic

**/.git
**/.svn
**/.hg
**/node_modules
**/dist
