:80 {
  handle /api/proxy/* {
    uri strip_prefix /api/proxy
    reverse_proxy https://api.exa.ai {
      header_up Host api.exa.ai
      header_up x-api-key {header.x-api-key}
    }
  }

  root * /srv/packages/site/exa-search/dist/final/js
  file_server
}
