wrapper-block {
  display: block;
}

body > wrapper-block {
  // display: flex;
  // flex-direction: column;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > main {
    flex-grow: 1;
  }
}
