html[lang='aa'] .-MatchLang [lang]:not([lang|='aa']) { display: none; }
html[lang='ab'] .-MatchLang [lang]:not([lang|='ab']) { display: none; }
html[lang='ac'] .-MatchLang [lang]:not([lang|='ac']) { display: none; }
html[lang='ad'] .-MatchLang [lang]:not([lang|='ad']) { display: none; }
html[lang='ae'] .-MatchLang [lang]:not([lang|='ae']) { display: none; }
html[lang='af'] .-MatchLang [lang]:not([lang|='af']) { display: none; }
html[lang='ag'] .-MatchLang [lang]:not([lang|='ag']) { display: none; }
html[lang='ah'] .-MatchLang [lang]:not([lang|='ah']) { display: none; }
html[lang='ai'] .-MatchLang [lang]:not([lang|='ai']) { display: none; }
html[lang='aj'] .-MatchLang [lang]:not([lang|='aj']) { display: none; }
html[lang='ak'] .-MatchLang [lang]:not([lang|='ak']) { display: none; }
html[lang='al'] .-MatchLang [lang]:not([lang|='al']) { display: none; }
html[lang='am'] .-MatchLang [lang]:not([lang|='am']) { display: none; }
html[lang='an'] .-MatchLang [lang]:not([lang|='an']) { display: none; }
html[lang='ao'] .-MatchLang [lang]:not([lang|='ao']) { display: none; }
html[lang='ap'] .-MatchLang [lang]:not([lang|='ap']) { display: none; }
html[lang='aq'] .-MatchLang [lang]:not([lang|='aq']) { display: none; }
html[lang='ar'] .-MatchLang [lang]:not([lang|='ar']) { display: none; }
html[lang='as'] .-MatchLang [lang]:not([lang|='as']) { display: none; }
html[lang='at'] .-MatchLang [lang]:not([lang|='at']) { display: none; }
html[lang='au'] .-MatchLang [lang]:not([lang|='au']) { display: none; }
html[lang='av'] .-MatchLang [lang]:not([lang|='av']) { display: none; }
html[lang='aw'] .-MatchLang [lang]:not([lang|='aw']) { display: none; }
html[lang='ax'] .-MatchLang [lang]:not([lang|='ax']) { display: none; }
html[lang='ay'] .-MatchLang [lang]:not([lang|='ay']) { display: none; }
html[lang='az'] .-MatchLang [lang]:not([lang|='az']) { display: none; }
html[lang='ba'] .-MatchLang [lang]:not([lang|='ba']) { display: none; }
html[lang='bb'] .-MatchLang [lang]:not([lang|='bb']) { display: none; }
html[lang='bc'] .-MatchLang [lang]:not([lang|='bc']) { display: none; }
html[lang='bd'] .-MatchLang [lang]:not([lang|='bd']) { display: none; }
html[lang='be'] .-MatchLang [lang]:not([lang|='be']) { display: none; }
html[lang='bf'] .-MatchLang [lang]:not([lang|='bf']) { display: none; }
html[lang='bg'] .-MatchLang [lang]:not([lang|='bg']) { display: none; }
html[lang='bh'] .-MatchLang [lang]:not([lang|='bh']) { display: none; }
html[lang='bi'] .-MatchLang [lang]:not([lang|='bi']) { display: none; }
html[lang='bj'] .-MatchLang [lang]:not([lang|='bj']) { display: none; }
html[lang='bk'] .-MatchLang [lang]:not([lang|='bk']) { display: none; }
html[lang='bl'] .-MatchLang [lang]:not([lang|='bl']) { display: none; }
html[lang='bm'] .-MatchLang [lang]:not([lang|='bm']) { display: none; }
html[lang='bn'] .-MatchLang [lang]:not([lang|='bn']) { display: none; }
html[lang='bo'] .-MatchLang [lang]:not([lang|='bo']) { display: none; }
html[lang='bp'] .-MatchLang [lang]:not([lang|='bp']) { display: none; }
html[lang='bq'] .-MatchLang [lang]:not([lang|='bq']) { display: none; }
html[lang='br'] .-MatchLang [lang]:not([lang|='br']) { display: none; }
html[lang='bs'] .-MatchLang [lang]:not([lang|='bs']) { display: none; }
html[lang='bt'] .-MatchLang [lang]:not([lang|='bt']) { display: none; }
html[lang='bu'] .-MatchLang [lang]:not([lang|='bu']) { display: none; }
html[lang='bv'] .-MatchLang [lang]:not([lang|='bv']) { display: none; }
html[lang='bw'] .-MatchLang [lang]:not([lang|='bw']) { display: none; }
html[lang='bx'] .-MatchLang [lang]:not([lang|='bx']) { display: none; }
html[lang='by'] .-MatchLang [lang]:not([lang|='by']) { display: none; }
html[lang='bz'] .-MatchLang [lang]:not([lang|='bz']) { display: none; }
html[lang='ca'] .-MatchLang [lang]:not([lang|='ca']) { display: none; }
html[lang='cb'] .-MatchLang [lang]:not([lang|='cb']) { display: none; }
html[lang='cc'] .-MatchLang [lang]:not([lang|='cc']) { display: none; }
html[lang='cd'] .-MatchLang [lang]:not([lang|='cd']) { display: none; }
html[lang='ce'] .-MatchLang [lang]:not([lang|='ce']) { display: none; }
html[lang='cf'] .-MatchLang [lang]:not([lang|='cf']) { display: none; }
html[lang='cg'] .-MatchLang [lang]:not([lang|='cg']) { display: none; }
html[lang='ch'] .-MatchLang [lang]:not([lang|='ch']) { display: none; }
html[lang='ci'] .-MatchLang [lang]:not([lang|='ci']) { display: none; }
html[lang='cj'] .-MatchLang [lang]:not([lang|='cj']) { display: none; }
html[lang='ck'] .-MatchLang [lang]:not([lang|='ck']) { display: none; }
html[lang='cl'] .-MatchLang [lang]:not([lang|='cl']) { display: none; }
html[lang='cm'] .-MatchLang [lang]:not([lang|='cm']) { display: none; }
html[lang='cn'] .-MatchLang [lang]:not([lang|='cn']) { display: none; }
html[lang='co'] .-MatchLang [lang]:not([lang|='co']) { display: none; }
html[lang='cp'] .-MatchLang [lang]:not([lang|='cp']) { display: none; }
html[lang='cq'] .-MatchLang [lang]:not([lang|='cq']) { display: none; }
html[lang='cr'] .-MatchLang [lang]:not([lang|='cr']) { display: none; }
html[lang='cs'] .-MatchLang [lang]:not([lang|='cs']) { display: none; }
html[lang='ct'] .-MatchLang [lang]:not([lang|='ct']) { display: none; }
html[lang='cu'] .-MatchLang [lang]:not([lang|='cu']) { display: none; }
html[lang='cv'] .-MatchLang [lang]:not([lang|='cv']) { display: none; }
html[lang='cw'] .-MatchLang [lang]:not([lang|='cw']) { display: none; }
html[lang='cx'] .-MatchLang [lang]:not([lang|='cx']) { display: none; }
html[lang='cy'] .-MatchLang [lang]:not([lang|='cy']) { display: none; }
html[lang='cz'] .-MatchLang [lang]:not([lang|='cz']) { display: none; }
html[lang='da'] .-MatchLang [lang]:not([lang|='da']) { display: none; }
html[lang='db'] .-MatchLang [lang]:not([lang|='db']) { display: none; }
html[lang='dc'] .-MatchLang [lang]:not([lang|='dc']) { display: none; }
html[lang='dd'] .-MatchLang [lang]:not([lang|='dd']) { display: none; }
html[lang='de'] .-MatchLang [lang]:not([lang|='de']) { display: none; }
html[lang='df'] .-MatchLang [lang]:not([lang|='df']) { display: none; }
html[lang='dg'] .-MatchLang [lang]:not([lang|='dg']) { display: none; }
html[lang='dh'] .-MatchLang [lang]:not([lang|='dh']) { display: none; }
html[lang='di'] .-MatchLang [lang]:not([lang|='di']) { display: none; }
html[lang='dj'] .-MatchLang [lang]:not([lang|='dj']) { display: none; }
html[lang='dk'] .-MatchLang [lang]:not([lang|='dk']) { display: none; }
html[lang='dl'] .-MatchLang [lang]:not([lang|='dl']) { display: none; }
html[lang='dm'] .-MatchLang [lang]:not([lang|='dm']) { display: none; }
html[lang='dn'] .-MatchLang [lang]:not([lang|='dn']) { display: none; }
html[lang='do'] .-MatchLang [lang]:not([lang|='do']) { display: none; }
html[lang='dp'] .-MatchLang [lang]:not([lang|='dp']) { display: none; }
html[lang='dq'] .-MatchLang [lang]:not([lang|='dq']) { display: none; }
html[lang='dr'] .-MatchLang [lang]:not([lang|='dr']) { display: none; }
html[lang='ds'] .-MatchLang [lang]:not([lang|='ds']) { display: none; }
html[lang='dt'] .-MatchLang [lang]:not([lang|='dt']) { display: none; }
html[lang='du'] .-MatchLang [lang]:not([lang|='du']) { display: none; }
html[lang='dv'] .-MatchLang [lang]:not([lang|='dv']) { display: none; }
html[lang='dw'] .-MatchLang [lang]:not([lang|='dw']) { display: none; }
html[lang='dx'] .-MatchLang [lang]:not([lang|='dx']) { display: none; }
html[lang='dy'] .-MatchLang [lang]:not([lang|='dy']) { display: none; }
html[lang='dz'] .-MatchLang [lang]:not([lang|='dz']) { display: none; }
html[lang='ea'] .-MatchLang [lang]:not([lang|='ea']) { display: none; }
html[lang='eb'] .-MatchLang [lang]:not([lang|='eb']) { display: none; }
html[lang='ec'] .-MatchLang [lang]:not([lang|='ec']) { display: none; }
html[lang='ed'] .-MatchLang [lang]:not([lang|='ed']) { display: none; }
html[lang='ee'] .-MatchLang [lang]:not([lang|='ee']) { display: none; }
html[lang='ef'] .-MatchLang [lang]:not([lang|='ef']) { display: none; }
html[lang='eg'] .-MatchLang [lang]:not([lang|='eg']) { display: none; }
html[lang='eh'] .-MatchLang [lang]:not([lang|='eh']) { display: none; }
html[lang='ei'] .-MatchLang [lang]:not([lang|='ei']) { display: none; }
html[lang='ej'] .-MatchLang [lang]:not([lang|='ej']) { display: none; }
html[lang='ek'] .-MatchLang [lang]:not([lang|='ek']) { display: none; }
html[lang='el'] .-MatchLang [lang]:not([lang|='el']) { display: none; }
html[lang='em'] .-MatchLang [lang]:not([lang|='em']) { display: none; }
html[lang='en'] .-MatchLang [lang]:not([lang|='en']) { display: none; }
html[lang='eo'] .-MatchLang [lang]:not([lang|='eo']) { display: none; }
html[lang='ep'] .-MatchLang [lang]:not([lang|='ep']) { display: none; }
html[lang='eq'] .-MatchLang [lang]:not([lang|='eq']) { display: none; }
html[lang='er'] .-MatchLang [lang]:not([lang|='er']) { display: none; }
html[lang='es'] .-MatchLang [lang]:not([lang|='es']) { display: none; }
html[lang='et'] .-MatchLang [lang]:not([lang|='et']) { display: none; }
html[lang='eu'] .-MatchLang [lang]:not([lang|='eu']) { display: none; }
html[lang='ev'] .-MatchLang [lang]:not([lang|='ev']) { display: none; }
html[lang='ew'] .-MatchLang [lang]:not([lang|='ew']) { display: none; }
html[lang='ex'] .-MatchLang [lang]:not([lang|='ex']) { display: none; }
html[lang='ey'] .-MatchLang [lang]:not([lang|='ey']) { display: none; }
html[lang='ez'] .-MatchLang [lang]:not([lang|='ez']) { display: none; }
html[lang='fa'] .-MatchLang [lang]:not([lang|='fa']) { display: none; }
html[lang='fb'] .-MatchLang [lang]:not([lang|='fb']) { display: none; }
html[lang='fc'] .-MatchLang [lang]:not([lang|='fc']) { display: none; }
html[lang='fd'] .-MatchLang [lang]:not([lang|='fd']) { display: none; }
html[lang='fe'] .-MatchLang [lang]:not([lang|='fe']) { display: none; }
html[lang='ff'] .-MatchLang [lang]:not([lang|='ff']) { display: none; }
html[lang='fg'] .-MatchLang [lang]:not([lang|='fg']) { display: none; }
html[lang='fh'] .-MatchLang [lang]:not([lang|='fh']) { display: none; }
html[lang='fi'] .-MatchLang [lang]:not([lang|='fi']) { display: none; }
html[lang='fj'] .-MatchLang [lang]:not([lang|='fj']) { display: none; }
html[lang='fk'] .-MatchLang [lang]:not([lang|='fk']) { display: none; }
html[lang='fl'] .-MatchLang [lang]:not([lang|='fl']) { display: none; }
html[lang='fm'] .-MatchLang [lang]:not([lang|='fm']) { display: none; }
html[lang='fn'] .-MatchLang [lang]:not([lang|='fn']) { display: none; }
html[lang='fo'] .-MatchLang [lang]:not([lang|='fo']) { display: none; }
html[lang='fp'] .-MatchLang [lang]:not([lang|='fp']) { display: none; }
html[lang='fq'] .-MatchLang [lang]:not([lang|='fq']) { display: none; }
html[lang='fr'] .-MatchLang [lang]:not([lang|='fr']) { display: none; }
html[lang='fs'] .-MatchLang [lang]:not([lang|='fs']) { display: none; }
html[lang='ft'] .-MatchLang [lang]:not([lang|='ft']) { display: none; }
html[lang='fu'] .-MatchLang [lang]:not([lang|='fu']) { display: none; }
html[lang='fv'] .-MatchLang [lang]:not([lang|='fv']) { display: none; }
html[lang='fw'] .-MatchLang [lang]:not([lang|='fw']) { display: none; }
html[lang='fx'] .-MatchLang [lang]:not([lang|='fx']) { display: none; }
html[lang='fy'] .-MatchLang [lang]:not([lang|='fy']) { display: none; }
html[lang='fz'] .-MatchLang [lang]:not([lang|='fz']) { display: none; }
html[lang='ga'] .-MatchLang [lang]:not([lang|='ga']) { display: none; }
html[lang='gb'] .-MatchLang [lang]:not([lang|='gb']) { display: none; }
html[lang='gc'] .-MatchLang [lang]:not([lang|='gc']) { display: none; }
html[lang='gd'] .-MatchLang [lang]:not([lang|='gd']) { display: none; }
html[lang='ge'] .-MatchLang [lang]:not([lang|='ge']) { display: none; }
html[lang='gf'] .-MatchLang [lang]:not([lang|='gf']) { display: none; }
html[lang='gg'] .-MatchLang [lang]:not([lang|='gg']) { display: none; }
html[lang='gh'] .-MatchLang [lang]:not([lang|='gh']) { display: none; }
html[lang='gi'] .-MatchLang [lang]:not([lang|='gi']) { display: none; }
html[lang='gj'] .-MatchLang [lang]:not([lang|='gj']) { display: none; }
html[lang='gk'] .-MatchLang [lang]:not([lang|='gk']) { display: none; }
html[lang='gl'] .-MatchLang [lang]:not([lang|='gl']) { display: none; }
html[lang='gm'] .-MatchLang [lang]:not([lang|='gm']) { display: none; }
html[lang='gn'] .-MatchLang [lang]:not([lang|='gn']) { display: none; }
html[lang='go'] .-MatchLang [lang]:not([lang|='go']) { display: none; }
html[lang='gp'] .-MatchLang [lang]:not([lang|='gp']) { display: none; }
html[lang='gq'] .-MatchLang [lang]:not([lang|='gq']) { display: none; }
html[lang='gr'] .-MatchLang [lang]:not([lang|='gr']) { display: none; }
html[lang='gs'] .-MatchLang [lang]:not([lang|='gs']) { display: none; }
html[lang='gt'] .-MatchLang [lang]:not([lang|='gt']) { display: none; }
html[lang='gu'] .-MatchLang [lang]:not([lang|='gu']) { display: none; }
html[lang='gv'] .-MatchLang [lang]:not([lang|='gv']) { display: none; }
html[lang='gw'] .-MatchLang [lang]:not([lang|='gw']) { display: none; }
html[lang='gx'] .-MatchLang [lang]:not([lang|='gx']) { display: none; }
html[lang='gy'] .-MatchLang [lang]:not([lang|='gy']) { display: none; }
html[lang='gz'] .-MatchLang [lang]:not([lang|='gz']) { display: none; }
html[lang='ha'] .-MatchLang [lang]:not([lang|='ha']) { display: none; }
html[lang='hb'] .-MatchLang [lang]:not([lang|='hb']) { display: none; }
html[lang='hc'] .-MatchLang [lang]:not([lang|='hc']) { display: none; }
html[lang='hd'] .-MatchLang [lang]:not([lang|='hd']) { display: none; }
html[lang='he'] .-MatchLang [lang]:not([lang|='he']) { display: none; }
html[lang='hf'] .-MatchLang [lang]:not([lang|='hf']) { display: none; }
html[lang='hg'] .-MatchLang [lang]:not([lang|='hg']) { display: none; }
html[lang='hh'] .-MatchLang [lang]:not([lang|='hh']) { display: none; }
html[lang='hi'] .-MatchLang [lang]:not([lang|='hi']) { display: none; }
html[lang='hj'] .-MatchLang [lang]:not([lang|='hj']) { display: none; }
html[lang='hk'] .-MatchLang [lang]:not([lang|='hk']) { display: none; }
html[lang='hl'] .-MatchLang [lang]:not([lang|='hl']) { display: none; }
html[lang='hm'] .-MatchLang [lang]:not([lang|='hm']) { display: none; }
html[lang='hn'] .-MatchLang [lang]:not([lang|='hn']) { display: none; }
html[lang='ho'] .-MatchLang [lang]:not([lang|='ho']) { display: none; }
html[lang='hp'] .-MatchLang [lang]:not([lang|='hp']) { display: none; }
html[lang='hq'] .-MatchLang [lang]:not([lang|='hq']) { display: none; }
html[lang='hr'] .-MatchLang [lang]:not([lang|='hr']) { display: none; }
html[lang='hs'] .-MatchLang [lang]:not([lang|='hs']) { display: none; }
html[lang='ht'] .-MatchLang [lang]:not([lang|='ht']) { display: none; }
html[lang='hu'] .-MatchLang [lang]:not([lang|='hu']) { display: none; }
html[lang='hv'] .-MatchLang [lang]:not([lang|='hv']) { display: none; }
html[lang='hw'] .-MatchLang [lang]:not([lang|='hw']) { display: none; }
html[lang='hx'] .-MatchLang [lang]:not([lang|='hx']) { display: none; }
html[lang='hy'] .-MatchLang [lang]:not([lang|='hy']) { display: none; }
html[lang='hz'] .-MatchLang [lang]:not([lang|='hz']) { display: none; }
html[lang='ia'] .-MatchLang [lang]:not([lang|='ia']) { display: none; }
html[lang='ib'] .-MatchLang [lang]:not([lang|='ib']) { display: none; }
html[lang='ic'] .-MatchLang [lang]:not([lang|='ic']) { display: none; }
html[lang='id'] .-MatchLang [lang]:not([lang|='id']) { display: none; }
html[lang='ie'] .-MatchLang [lang]:not([lang|='ie']) { display: none; }
html[lang='if'] .-MatchLang [lang]:not([lang|='if']) { display: none; }
html[lang='ig'] .-MatchLang [lang]:not([lang|='ig']) { display: none; }
html[lang='ih'] .-MatchLang [lang]:not([lang|='ih']) { display: none; }
html[lang='ii'] .-MatchLang [lang]:not([lang|='ii']) { display: none; }
html[lang='ij'] .-MatchLang [lang]:not([lang|='ij']) { display: none; }
html[lang='ik'] .-MatchLang [lang]:not([lang|='ik']) { display: none; }
html[lang='il'] .-MatchLang [lang]:not([lang|='il']) { display: none; }
html[lang='im'] .-MatchLang [lang]:not([lang|='im']) { display: none; }
html[lang='in'] .-MatchLang [lang]:not([lang|='in']) { display: none; }
html[lang='io'] .-MatchLang [lang]:not([lang|='io']) { display: none; }
html[lang='ip'] .-MatchLang [lang]:not([lang|='ip']) { display: none; }
html[lang='iq'] .-MatchLang [lang]:not([lang|='iq']) { display: none; }
html[lang='ir'] .-MatchLang [lang]:not([lang|='ir']) { display: none; }
html[lang='is'] .-MatchLang [lang]:not([lang|='is']) { display: none; }
html[lang='it'] .-MatchLang [lang]:not([lang|='it']) { display: none; }
html[lang='iu'] .-MatchLang [lang]:not([lang|='iu']) { display: none; }
html[lang='iv'] .-MatchLang [lang]:not([lang|='iv']) { display: none; }
html[lang='iw'] .-MatchLang [lang]:not([lang|='iw']) { display: none; }
html[lang='ix'] .-MatchLang [lang]:not([lang|='ix']) { display: none; }
html[lang='iy'] .-MatchLang [lang]:not([lang|='iy']) { display: none; }
html[lang='iz'] .-MatchLang [lang]:not([lang|='iz']) { display: none; }
html[lang='ja'] .-MatchLang [lang]:not([lang|='ja']) { display: none; }
html[lang='jb'] .-MatchLang [lang]:not([lang|='jb']) { display: none; }
html[lang='jc'] .-MatchLang [lang]:not([lang|='jc']) { display: none; }
html[lang='jd'] .-MatchLang [lang]:not([lang|='jd']) { display: none; }
html[lang='je'] .-MatchLang [lang]:not([lang|='je']) { display: none; }
html[lang='jf'] .-MatchLang [lang]:not([lang|='jf']) { display: none; }
html[lang='jg'] .-MatchLang [lang]:not([lang|='jg']) { display: none; }
html[lang='jh'] .-MatchLang [lang]:not([lang|='jh']) { display: none; }
html[lang='ji'] .-MatchLang [lang]:not([lang|='ji']) { display: none; }
html[lang='jj'] .-MatchLang [lang]:not([lang|='jj']) { display: none; }
html[lang='jk'] .-MatchLang [lang]:not([lang|='jk']) { display: none; }
html[lang='jl'] .-MatchLang [lang]:not([lang|='jl']) { display: none; }
html[lang='jm'] .-MatchLang [lang]:not([lang|='jm']) { display: none; }
html[lang='jn'] .-MatchLang [lang]:not([lang|='jn']) { display: none; }
html[lang='jo'] .-MatchLang [lang]:not([lang|='jo']) { display: none; }
html[lang='jp'] .-MatchLang [lang]:not([lang|='jp']) { display: none; }
html[lang='jq'] .-MatchLang [lang]:not([lang|='jq']) { display: none; }
html[lang='jr'] .-MatchLang [lang]:not([lang|='jr']) { display: none; }
html[lang='js'] .-MatchLang [lang]:not([lang|='js']) { display: none; }
html[lang='jt'] .-MatchLang [lang]:not([lang|='jt']) { display: none; }
html[lang='ju'] .-MatchLang [lang]:not([lang|='ju']) { display: none; }
html[lang='jv'] .-MatchLang [lang]:not([lang|='jv']) { display: none; }
html[lang='jw'] .-MatchLang [lang]:not([lang|='jw']) { display: none; }
html[lang='jx'] .-MatchLang [lang]:not([lang|='jx']) { display: none; }
html[lang='jy'] .-MatchLang [lang]:not([lang|='jy']) { display: none; }
html[lang='jz'] .-MatchLang [lang]:not([lang|='jz']) { display: none; }
html[lang='ka'] .-MatchLang [lang]:not([lang|='ka']) { display: none; }
html[lang='kb'] .-MatchLang [lang]:not([lang|='kb']) { display: none; }
html[lang='kc'] .-MatchLang [lang]:not([lang|='kc']) { display: none; }
html[lang='kd'] .-MatchLang [lang]:not([lang|='kd']) { display: none; }
html[lang='ke'] .-MatchLang [lang]:not([lang|='ke']) { display: none; }
html[lang='kf'] .-MatchLang [lang]:not([lang|='kf']) { display: none; }
html[lang='kg'] .-MatchLang [lang]:not([lang|='kg']) { display: none; }
html[lang='kh'] .-MatchLang [lang]:not([lang|='kh']) { display: none; }
html[lang='ki'] .-MatchLang [lang]:not([lang|='ki']) { display: none; }
html[lang='kj'] .-MatchLang [lang]:not([lang|='kj']) { display: none; }
html[lang='kk'] .-MatchLang [lang]:not([lang|='kk']) { display: none; }
html[lang='kl'] .-MatchLang [lang]:not([lang|='kl']) { display: none; }
html[lang='km'] .-MatchLang [lang]:not([lang|='km']) { display: none; }
html[lang='kn'] .-MatchLang [lang]:not([lang|='kn']) { display: none; }
html[lang='ko'] .-MatchLang [lang]:not([lang|='ko']) { display: none; }
html[lang='kp'] .-MatchLang [lang]:not([lang|='kp']) { display: none; }
html[lang='kq'] .-MatchLang [lang]:not([lang|='kq']) { display: none; }
html[lang='kr'] .-MatchLang [lang]:not([lang|='kr']) { display: none; }
html[lang='ks'] .-MatchLang [lang]:not([lang|='ks']) { display: none; }
html[lang='kt'] .-MatchLang [lang]:not([lang|='kt']) { display: none; }
html[lang='ku'] .-MatchLang [lang]:not([lang|='ku']) { display: none; }
html[lang='kv'] .-MatchLang [lang]:not([lang|='kv']) { display: none; }
html[lang='kw'] .-MatchLang [lang]:not([lang|='kw']) { display: none; }
html[lang='kx'] .-MatchLang [lang]:not([lang|='kx']) { display: none; }
html[lang='ky'] .-MatchLang [lang]:not([lang|='ky']) { display: none; }
html[lang='kz'] .-MatchLang [lang]:not([lang|='kz']) { display: none; }
html[lang='la'] .-MatchLang [lang]:not([lang|='la']) { display: none; }
html[lang='lb'] .-MatchLang [lang]:not([lang|='lb']) { display: none; }
html[lang='lc'] .-MatchLang [lang]:not([lang|='lc']) { display: none; }
html[lang='ld'] .-MatchLang [lang]:not([lang|='ld']) { display: none; }
html[lang='le'] .-MatchLang [lang]:not([lang|='le']) { display: none; }
html[lang='lf'] .-MatchLang [lang]:not([lang|='lf']) { display: none; }
html[lang='lg'] .-MatchLang [lang]:not([lang|='lg']) { display: none; }
html[lang='lh'] .-MatchLang [lang]:not([lang|='lh']) { display: none; }
html[lang='li'] .-MatchLang [lang]:not([lang|='li']) { display: none; }
html[lang='lj'] .-MatchLang [lang]:not([lang|='lj']) { display: none; }
html[lang='lk'] .-MatchLang [lang]:not([lang|='lk']) { display: none; }
html[lang='ll'] .-MatchLang [lang]:not([lang|='ll']) { display: none; }
html[lang='lm'] .-MatchLang [lang]:not([lang|='lm']) { display: none; }
html[lang='ln'] .-MatchLang [lang]:not([lang|='ln']) { display: none; }
html[lang='lo'] .-MatchLang [lang]:not([lang|='lo']) { display: none; }
html[lang='lp'] .-MatchLang [lang]:not([lang|='lp']) { display: none; }
html[lang='lq'] .-MatchLang [lang]:not([lang|='lq']) { display: none; }
html[lang='lr'] .-MatchLang [lang]:not([lang|='lr']) { display: none; }
html[lang='ls'] .-MatchLang [lang]:not([lang|='ls']) { display: none; }
html[lang='lt'] .-MatchLang [lang]:not([lang|='lt']) { display: none; }
html[lang='lu'] .-MatchLang [lang]:not([lang|='lu']) { display: none; }
html[lang='lv'] .-MatchLang [lang]:not([lang|='lv']) { display: none; }
html[lang='lw'] .-MatchLang [lang]:not([lang|='lw']) { display: none; }
html[lang='lx'] .-MatchLang [lang]:not([lang|='lx']) { display: none; }
html[lang='ly'] .-MatchLang [lang]:not([lang|='ly']) { display: none; }
html[lang='lz'] .-MatchLang [lang]:not([lang|='lz']) { display: none; }
html[lang='ma'] .-MatchLang [lang]:not([lang|='ma']) { display: none; }
html[lang='mb'] .-MatchLang [lang]:not([lang|='mb']) { display: none; }
html[lang='mc'] .-MatchLang [lang]:not([lang|='mc']) { display: none; }
html[lang='md'] .-MatchLang [lang]:not([lang|='md']) { display: none; }
html[lang='me'] .-MatchLang [lang]:not([lang|='me']) { display: none; }
html[lang='mf'] .-MatchLang [lang]:not([lang|='mf']) { display: none; }
html[lang='mg'] .-MatchLang [lang]:not([lang|='mg']) { display: none; }
html[lang='mh'] .-MatchLang [lang]:not([lang|='mh']) { display: none; }
html[lang='mi'] .-MatchLang [lang]:not([lang|='mi']) { display: none; }
html[lang='mj'] .-MatchLang [lang]:not([lang|='mj']) { display: none; }
html[lang='mk'] .-MatchLang [lang]:not([lang|='mk']) { display: none; }
html[lang='ml'] .-MatchLang [lang]:not([lang|='ml']) { display: none; }
html[lang='mm'] .-MatchLang [lang]:not([lang|='mm']) { display: none; }
html[lang='mn'] .-MatchLang [lang]:not([lang|='mn']) { display: none; }
html[lang='mo'] .-MatchLang [lang]:not([lang|='mo']) { display: none; }
html[lang='mp'] .-MatchLang [lang]:not([lang|='mp']) { display: none; }
html[lang='mq'] .-MatchLang [lang]:not([lang|='mq']) { display: none; }
html[lang='mr'] .-MatchLang [lang]:not([lang|='mr']) { display: none; }
html[lang='ms'] .-MatchLang [lang]:not([lang|='ms']) { display: none; }
html[lang='mt'] .-MatchLang [lang]:not([lang|='mt']) { display: none; }
html[lang='mu'] .-MatchLang [lang]:not([lang|='mu']) { display: none; }
html[lang='mv'] .-MatchLang [lang]:not([lang|='mv']) { display: none; }
html[lang='mw'] .-MatchLang [lang]:not([lang|='mw']) { display: none; }
html[lang='mx'] .-MatchLang [lang]:not([lang|='mx']) { display: none; }
html[lang='my'] .-MatchLang [lang]:not([lang|='my']) { display: none; }
html[lang='mz'] .-MatchLang [lang]:not([lang|='mz']) { display: none; }
html[lang='na'] .-MatchLang [lang]:not([lang|='na']) { display: none; }
html[lang='nb'] .-MatchLang [lang]:not([lang|='nb']) { display: none; }
html[lang='nc'] .-MatchLang [lang]:not([lang|='nc']) { display: none; }
html[lang='nd'] .-MatchLang [lang]:not([lang|='nd']) { display: none; }
html[lang='ne'] .-MatchLang [lang]:not([lang|='ne']) { display: none; }
html[lang='nf'] .-MatchLang [lang]:not([lang|='nf']) { display: none; }
html[lang='ng'] .-MatchLang [lang]:not([lang|='ng']) { display: none; }
html[lang='nh'] .-MatchLang [lang]:not([lang|='nh']) { display: none; }
html[lang='ni'] .-MatchLang [lang]:not([lang|='ni']) { display: none; }
html[lang='nj'] .-MatchLang [lang]:not([lang|='nj']) { display: none; }
html[lang='nk'] .-MatchLang [lang]:not([lang|='nk']) { display: none; }
html[lang='nl'] .-MatchLang [lang]:not([lang|='nl']) { display: none; }
html[lang='nm'] .-MatchLang [lang]:not([lang|='nm']) { display: none; }
html[lang='nn'] .-MatchLang [lang]:not([lang|='nn']) { display: none; }
html[lang='no'] .-MatchLang [lang]:not([lang|='no']) { display: none; }
html[lang='np'] .-MatchLang [lang]:not([lang|='np']) { display: none; }
html[lang='nq'] .-MatchLang [lang]:not([lang|='nq']) { display: none; }
html[lang='nr'] .-MatchLang [lang]:not([lang|='nr']) { display: none; }
html[lang='ns'] .-MatchLang [lang]:not([lang|='ns']) { display: none; }
html[lang='nt'] .-MatchLang [lang]:not([lang|='nt']) { display: none; }
html[lang='nu'] .-MatchLang [lang]:not([lang|='nu']) { display: none; }
html[lang='nv'] .-MatchLang [lang]:not([lang|='nv']) { display: none; }
html[lang='nw'] .-MatchLang [lang]:not([lang|='nw']) { display: none; }
html[lang='nx'] .-MatchLang [lang]:not([lang|='nx']) { display: none; }
html[lang='ny'] .-MatchLang [lang]:not([lang|='ny']) { display: none; }
html[lang='nz'] .-MatchLang [lang]:not([lang|='nz']) { display: none; }
html[lang='oa'] .-MatchLang [lang]:not([lang|='oa']) { display: none; }
html[lang='ob'] .-MatchLang [lang]:not([lang|='ob']) { display: none; }
html[lang='oc'] .-MatchLang [lang]:not([lang|='oc']) { display: none; }
html[lang='od'] .-MatchLang [lang]:not([lang|='od']) { display: none; }
html[lang='oe'] .-MatchLang [lang]:not([lang|='oe']) { display: none; }
html[lang='of'] .-MatchLang [lang]:not([lang|='of']) { display: none; }
html[lang='og'] .-MatchLang [lang]:not([lang|='og']) { display: none; }
html[lang='oh'] .-MatchLang [lang]:not([lang|='oh']) { display: none; }
html[lang='oi'] .-MatchLang [lang]:not([lang|='oi']) { display: none; }
html[lang='oj'] .-MatchLang [lang]:not([lang|='oj']) { display: none; }
html[lang='ok'] .-MatchLang [lang]:not([lang|='ok']) { display: none; }
html[lang='ol'] .-MatchLang [lang]:not([lang|='ol']) { display: none; }
html[lang='om'] .-MatchLang [lang]:not([lang|='om']) { display: none; }
html[lang='on'] .-MatchLang [lang]:not([lang|='on']) { display: none; }
html[lang='oo'] .-MatchLang [lang]:not([lang|='oo']) { display: none; }
html[lang='op'] .-MatchLang [lang]:not([lang|='op']) { display: none; }
html[lang='oq'] .-MatchLang [lang]:not([lang|='oq']) { display: none; }
html[lang='or'] .-MatchLang [lang]:not([lang|='or']) { display: none; }
html[lang='os'] .-MatchLang [lang]:not([lang|='os']) { display: none; }
html[lang='ot'] .-MatchLang [lang]:not([lang|='ot']) { display: none; }
html[lang='ou'] .-MatchLang [lang]:not([lang|='ou']) { display: none; }
html[lang='ov'] .-MatchLang [lang]:not([lang|='ov']) { display: none; }
html[lang='ow'] .-MatchLang [lang]:not([lang|='ow']) { display: none; }
html[lang='ox'] .-MatchLang [lang]:not([lang|='ox']) { display: none; }
html[lang='oy'] .-MatchLang [lang]:not([lang|='oy']) { display: none; }
html[lang='oz'] .-MatchLang [lang]:not([lang|='oz']) { display: none; }
html[lang='pa'] .-MatchLang [lang]:not([lang|='pa']) { display: none; }
html[lang='pb'] .-MatchLang [lang]:not([lang|='pb']) { display: none; }
html[lang='pc'] .-MatchLang [lang]:not([lang|='pc']) { display: none; }
html[lang='pd'] .-MatchLang [lang]:not([lang|='pd']) { display: none; }
html[lang='pe'] .-MatchLang [lang]:not([lang|='pe']) { display: none; }
html[lang='pf'] .-MatchLang [lang]:not([lang|='pf']) { display: none; }
html[lang='pg'] .-MatchLang [lang]:not([lang|='pg']) { display: none; }
html[lang='ph'] .-MatchLang [lang]:not([lang|='ph']) { display: none; }
html[lang='pi'] .-MatchLang [lang]:not([lang|='pi']) { display: none; }
html[lang='pj'] .-MatchLang [lang]:not([lang|='pj']) { display: none; }
html[lang='pk'] .-MatchLang [lang]:not([lang|='pk']) { display: none; }
html[lang='pl'] .-MatchLang [lang]:not([lang|='pl']) { display: none; }
html[lang='pm'] .-MatchLang [lang]:not([lang|='pm']) { display: none; }
html[lang='pn'] .-MatchLang [lang]:not([lang|='pn']) { display: none; }
html[lang='po'] .-MatchLang [lang]:not([lang|='po']) { display: none; }
html[lang='pp'] .-MatchLang [lang]:not([lang|='pp']) { display: none; }
html[lang='pq'] .-MatchLang [lang]:not([lang|='pq']) { display: none; }
html[lang='pr'] .-MatchLang [lang]:not([lang|='pr']) { display: none; }
html[lang='ps'] .-MatchLang [lang]:not([lang|='ps']) { display: none; }
html[lang='pt'] .-MatchLang [lang]:not([lang|='pt']) { display: none; }
html[lang='pu'] .-MatchLang [lang]:not([lang|='pu']) { display: none; }
html[lang='pv'] .-MatchLang [lang]:not([lang|='pv']) { display: none; }
html[lang='pw'] .-MatchLang [lang]:not([lang|='pw']) { display: none; }
html[lang='px'] .-MatchLang [lang]:not([lang|='px']) { display: none; }
html[lang='py'] .-MatchLang [lang]:not([lang|='py']) { display: none; }
html[lang='pz'] .-MatchLang [lang]:not([lang|='pz']) { display: none; }
html[lang='qa'] .-MatchLang [lang]:not([lang|='qa']) { display: none; }
html[lang='qb'] .-MatchLang [lang]:not([lang|='qb']) { display: none; }
html[lang='qc'] .-MatchLang [lang]:not([lang|='qc']) { display: none; }
html[lang='qd'] .-MatchLang [lang]:not([lang|='qd']) { display: none; }
html[lang='qe'] .-MatchLang [lang]:not([lang|='qe']) { display: none; }
html[lang='qf'] .-MatchLang [lang]:not([lang|='qf']) { display: none; }
html[lang='qg'] .-MatchLang [lang]:not([lang|='qg']) { display: none; }
html[lang='qh'] .-MatchLang [lang]:not([lang|='qh']) { display: none; }
html[lang='qi'] .-MatchLang [lang]:not([lang|='qi']) { display: none; }
html[lang='qj'] .-MatchLang [lang]:not([lang|='qj']) { display: none; }
html[lang='qk'] .-MatchLang [lang]:not([lang|='qk']) { display: none; }
html[lang='ql'] .-MatchLang [lang]:not([lang|='ql']) { display: none; }
html[lang='qm'] .-MatchLang [lang]:not([lang|='qm']) { display: none; }
html[lang='qn'] .-MatchLang [lang]:not([lang|='qn']) { display: none; }
html[lang='qo'] .-MatchLang [lang]:not([lang|='qo']) { display: none; }
html[lang='qp'] .-MatchLang [lang]:not([lang|='qp']) { display: none; }
html[lang='qq'] .-MatchLang [lang]:not([lang|='qq']) { display: none; }
html[lang='qr'] .-MatchLang [lang]:not([lang|='qr']) { display: none; }
html[lang='qs'] .-MatchLang [lang]:not([lang|='qs']) { display: none; }
html[lang='qt'] .-MatchLang [lang]:not([lang|='qt']) { display: none; }
html[lang='qu'] .-MatchLang [lang]:not([lang|='qu']) { display: none; }
html[lang='qv'] .-MatchLang [lang]:not([lang|='qv']) { display: none; }
html[lang='qw'] .-MatchLang [lang]:not([lang|='qw']) { display: none; }
html[lang='qx'] .-MatchLang [lang]:not([lang|='qx']) { display: none; }
html[lang='qy'] .-MatchLang [lang]:not([lang|='qy']) { display: none; }
html[lang='qz'] .-MatchLang [lang]:not([lang|='qz']) { display: none; }
html[lang='ra'] .-MatchLang [lang]:not([lang|='ra']) { display: none; }
html[lang='rb'] .-MatchLang [lang]:not([lang|='rb']) { display: none; }
html[lang='rc'] .-MatchLang [lang]:not([lang|='rc']) { display: none; }
html[lang='rd'] .-MatchLang [lang]:not([lang|='rd']) { display: none; }
html[lang='re'] .-MatchLang [lang]:not([lang|='re']) { display: none; }
html[lang='rf'] .-MatchLang [lang]:not([lang|='rf']) { display: none; }
html[lang='rg'] .-MatchLang [lang]:not([lang|='rg']) { display: none; }
html[lang='rh'] .-MatchLang [lang]:not([lang|='rh']) { display: none; }
html[lang='ri'] .-MatchLang [lang]:not([lang|='ri']) { display: none; }
html[lang='rj'] .-MatchLang [lang]:not([lang|='rj']) { display: none; }
html[lang='rk'] .-MatchLang [lang]:not([lang|='rk']) { display: none; }
html[lang='rl'] .-MatchLang [lang]:not([lang|='rl']) { display: none; }
html[lang='rm'] .-MatchLang [lang]:not([lang|='rm']) { display: none; }
html[lang='rn'] .-MatchLang [lang]:not([lang|='rn']) { display: none; }
html[lang='ro'] .-MatchLang [lang]:not([lang|='ro']) { display: none; }
html[lang='rp'] .-MatchLang [lang]:not([lang|='rp']) { display: none; }
html[lang='rq'] .-MatchLang [lang]:not([lang|='rq']) { display: none; }
html[lang='rr'] .-MatchLang [lang]:not([lang|='rr']) { display: none; }
html[lang='rs'] .-MatchLang [lang]:not([lang|='rs']) { display: none; }
html[lang='rt'] .-MatchLang [lang]:not([lang|='rt']) { display: none; }
html[lang='ru'] .-MatchLang [lang]:not([lang|='ru']) { display: none; }
html[lang='rv'] .-MatchLang [lang]:not([lang|='rv']) { display: none; }
html[lang='rw'] .-MatchLang [lang]:not([lang|='rw']) { display: none; }
html[lang='rx'] .-MatchLang [lang]:not([lang|='rx']) { display: none; }
html[lang='ry'] .-MatchLang [lang]:not([lang|='ry']) { display: none; }
html[lang='rz'] .-MatchLang [lang]:not([lang|='rz']) { display: none; }
html[lang='sa'] .-MatchLang [lang]:not([lang|='sa']) { display: none; }
html[lang='sb'] .-MatchLang [lang]:not([lang|='sb']) { display: none; }
html[lang='sc'] .-MatchLang [lang]:not([lang|='sc']) { display: none; }
html[lang='sd'] .-MatchLang [lang]:not([lang|='sd']) { display: none; }
html[lang='se'] .-MatchLang [lang]:not([lang|='se']) { display: none; }
html[lang='sf'] .-MatchLang [lang]:not([lang|='sf']) { display: none; }
html[lang='sg'] .-MatchLang [lang]:not([lang|='sg']) { display: none; }
html[lang='sh'] .-MatchLang [lang]:not([lang|='sh']) { display: none; }
html[lang='si'] .-MatchLang [lang]:not([lang|='si']) { display: none; }
html[lang='sj'] .-MatchLang [lang]:not([lang|='sj']) { display: none; }
html[lang='sk'] .-MatchLang [lang]:not([lang|='sk']) { display: none; }
html[lang='sl'] .-MatchLang [lang]:not([lang|='sl']) { display: none; }
html[lang='sm'] .-MatchLang [lang]:not([lang|='sm']) { display: none; }
html[lang='sn'] .-MatchLang [lang]:not([lang|='sn']) { display: none; }
html[lang='so'] .-MatchLang [lang]:not([lang|='so']) { display: none; }
html[lang='sp'] .-MatchLang [lang]:not([lang|='sp']) { display: none; }
html[lang='sq'] .-MatchLang [lang]:not([lang|='sq']) { display: none; }
html[lang='sr'] .-MatchLang [lang]:not([lang|='sr']) { display: none; }
html[lang='ss'] .-MatchLang [lang]:not([lang|='ss']) { display: none; }
html[lang='st'] .-MatchLang [lang]:not([lang|='st']) { display: none; }
html[lang='su'] .-MatchLang [lang]:not([lang|='su']) { display: none; }
html[lang='sv'] .-MatchLang [lang]:not([lang|='sv']) { display: none; }
html[lang='sw'] .-MatchLang [lang]:not([lang|='sw']) { display: none; }
html[lang='sx'] .-MatchLang [lang]:not([lang|='sx']) { display: none; }
html[lang='sy'] .-MatchLang [lang]:not([lang|='sy']) { display: none; }
html[lang='sz'] .-MatchLang [lang]:not([lang|='sz']) { display: none; }
html[lang='ta'] .-MatchLang [lang]:not([lang|='ta']) { display: none; }
html[lang='tb'] .-MatchLang [lang]:not([lang|='tb']) { display: none; }
html[lang='tc'] .-MatchLang [lang]:not([lang|='tc']) { display: none; }
html[lang='td'] .-MatchLang [lang]:not([lang|='td']) { display: none; }
html[lang='te'] .-MatchLang [lang]:not([lang|='te']) { display: none; }
html[lang='tf'] .-MatchLang [lang]:not([lang|='tf']) { display: none; }
html[lang='tg'] .-MatchLang [lang]:not([lang|='tg']) { display: none; }
html[lang='th'] .-MatchLang [lang]:not([lang|='th']) { display: none; }
html[lang='ti'] .-MatchLang [lang]:not([lang|='ti']) { display: none; }
html[lang='tj'] .-MatchLang [lang]:not([lang|='tj']) { display: none; }
html[lang='tk'] .-MatchLang [lang]:not([lang|='tk']) { display: none; }
html[lang='tl'] .-MatchLang [lang]:not([lang|='tl']) { display: none; }
html[lang='tm'] .-MatchLang [lang]:not([lang|='tm']) { display: none; }
html[lang='tn'] .-MatchLang [lang]:not([lang|='tn']) { display: none; }
html[lang='to'] .-MatchLang [lang]:not([lang|='to']) { display: none; }
html[lang='tp'] .-MatchLang [lang]:not([lang|='tp']) { display: none; }
html[lang='tq'] .-MatchLang [lang]:not([lang|='tq']) { display: none; }
html[lang='tr'] .-MatchLang [lang]:not([lang|='tr']) { display: none; }
html[lang='ts'] .-MatchLang [lang]:not([lang|='ts']) { display: none; }
html[lang='tt'] .-MatchLang [lang]:not([lang|='tt']) { display: none; }
html[lang='tu'] .-MatchLang [lang]:not([lang|='tu']) { display: none; }
html[lang='tv'] .-MatchLang [lang]:not([lang|='tv']) { display: none; }
html[lang='tw'] .-MatchLang [lang]:not([lang|='tw']) { display: none; }
html[lang='tx'] .-MatchLang [lang]:not([lang|='tx']) { display: none; }
html[lang='ty'] .-MatchLang [lang]:not([lang|='ty']) { display: none; }
html[lang='tz'] .-MatchLang [lang]:not([lang|='tz']) { display: none; }
html[lang='ua'] .-MatchLang [lang]:not([lang|='ua']) { display: none; }
html[lang='ub'] .-MatchLang [lang]:not([lang|='ub']) { display: none; }
html[lang='uc'] .-MatchLang [lang]:not([lang|='uc']) { display: none; }
html[lang='ud'] .-MatchLang [lang]:not([lang|='ud']) { display: none; }
html[lang='ue'] .-MatchLang [lang]:not([lang|='ue']) { display: none; }
html[lang='uf'] .-MatchLang [lang]:not([lang|='uf']) { display: none; }
html[lang='ug'] .-MatchLang [lang]:not([lang|='ug']) { display: none; }
html[lang='uh'] .-MatchLang [lang]:not([lang|='uh']) { display: none; }
html[lang='ui'] .-MatchLang [lang]:not([lang|='ui']) { display: none; }
html[lang='uj'] .-MatchLang [lang]:not([lang|='uj']) { display: none; }
html[lang='uk'] .-MatchLang [lang]:not([lang|='uk']) { display: none; }
html[lang='ul'] .-MatchLang [lang]:not([lang|='ul']) { display: none; }
html[lang='um'] .-MatchLang [lang]:not([lang|='um']) { display: none; }
html[lang='un'] .-MatchLang [lang]:not([lang|='un']) { display: none; }
html[lang='uo'] .-MatchLang [lang]:not([lang|='uo']) { display: none; }
html[lang='up'] .-MatchLang [lang]:not([lang|='up']) { display: none; }
html[lang='uq'] .-MatchLang [lang]:not([lang|='uq']) { display: none; }
html[lang='ur'] .-MatchLang [lang]:not([lang|='ur']) { display: none; }
html[lang='us'] .-MatchLang [lang]:not([lang|='us']) { display: none; }
html[lang='ut'] .-MatchLang [lang]:not([lang|='ut']) { display: none; }
html[lang='uu'] .-MatchLang [lang]:not([lang|='uu']) { display: none; }
html[lang='uv'] .-MatchLang [lang]:not([lang|='uv']) { display: none; }
html[lang='uw'] .-MatchLang [lang]:not([lang|='uw']) { display: none; }
html[lang='ux'] .-MatchLang [lang]:not([lang|='ux']) { display: none; }
html[lang='uy'] .-MatchLang [lang]:not([lang|='uy']) { display: none; }
html[lang='uz'] .-MatchLang [lang]:not([lang|='uz']) { display: none; }
html[lang='va'] .-MatchLang [lang]:not([lang|='va']) { display: none; }
html[lang='vb'] .-MatchLang [lang]:not([lang|='vb']) { display: none; }
html[lang='vc'] .-MatchLang [lang]:not([lang|='vc']) { display: none; }
html[lang='vd'] .-MatchLang [lang]:not([lang|='vd']) { display: none; }
html[lang='ve'] .-MatchLang [lang]:not([lang|='ve']) { display: none; }
html[lang='vf'] .-MatchLang [lang]:not([lang|='vf']) { display: none; }
html[lang='vg'] .-MatchLang [lang]:not([lang|='vg']) { display: none; }
html[lang='vh'] .-MatchLang [lang]:not([lang|='vh']) { display: none; }
html[lang='vi'] .-MatchLang [lang]:not([lang|='vi']) { display: none; }
html[lang='vj'] .-MatchLang [lang]:not([lang|='vj']) { display: none; }
html[lang='vk'] .-MatchLang [lang]:not([lang|='vk']) { display: none; }
html[lang='vl'] .-MatchLang [lang]:not([lang|='vl']) { display: none; }
html[lang='vm'] .-MatchLang [lang]:not([lang|='vm']) { display: none; }
html[lang='vn'] .-MatchLang [lang]:not([lang|='vn']) { display: none; }
html[lang='vo'] .-MatchLang [lang]:not([lang|='vo']) { display: none; }
html[lang='vp'] .-MatchLang [lang]:not([lang|='vp']) { display: none; }
html[lang='vq'] .-MatchLang [lang]:not([lang|='vq']) { display: none; }
html[lang='vr'] .-MatchLang [lang]:not([lang|='vr']) { display: none; }
html[lang='vs'] .-MatchLang [lang]:not([lang|='vs']) { display: none; }
html[lang='vt'] .-MatchLang [lang]:not([lang|='vt']) { display: none; }
html[lang='vu'] .-MatchLang [lang]:not([lang|='vu']) { display: none; }
html[lang='vv'] .-MatchLang [lang]:not([lang|='vv']) { display: none; }
html[lang='vw'] .-MatchLang [lang]:not([lang|='vw']) { display: none; }
html[lang='vx'] .-MatchLang [lang]:not([lang|='vx']) { display: none; }
html[lang='vy'] .-MatchLang [lang]:not([lang|='vy']) { display: none; }
html[lang='vz'] .-MatchLang [lang]:not([lang|='vz']) { display: none; }
html[lang='wa'] .-MatchLang [lang]:not([lang|='wa']) { display: none; }
html[lang='wb'] .-MatchLang [lang]:not([lang|='wb']) { display: none; }
html[lang='wc'] .-MatchLang [lang]:not([lang|='wc']) { display: none; }
html[lang='wd'] .-MatchLang [lang]:not([lang|='wd']) { display: none; }
html[lang='we'] .-MatchLang [lang]:not([lang|='we']) { display: none; }
html[lang='wf'] .-MatchLang [lang]:not([lang|='wf']) { display: none; }
html[lang='wg'] .-MatchLang [lang]:not([lang|='wg']) { display: none; }
html[lang='wh'] .-MatchLang [lang]:not([lang|='wh']) { display: none; }
html[lang='wi'] .-MatchLang [lang]:not([lang|='wi']) { display: none; }
html[lang='wj'] .-MatchLang [lang]:not([lang|='wj']) { display: none; }
html[lang='wk'] .-MatchLang [lang]:not([lang|='wk']) { display: none; }
html[lang='wl'] .-MatchLang [lang]:not([lang|='wl']) { display: none; }
html[lang='wm'] .-MatchLang [lang]:not([lang|='wm']) { display: none; }
html[lang='wn'] .-MatchLang [lang]:not([lang|='wn']) { display: none; }
html[lang='wo'] .-MatchLang [lang]:not([lang|='wo']) { display: none; }
html[lang='wp'] .-MatchLang [lang]:not([lang|='wp']) { display: none; }
html[lang='wq'] .-MatchLang [lang]:not([lang|='wq']) { display: none; }
html[lang='wr'] .-MatchLang [lang]:not([lang|='wr']) { display: none; }
html[lang='ws'] .-MatchLang [lang]:not([lang|='ws']) { display: none; }
html[lang='wt'] .-MatchLang [lang]:not([lang|='wt']) { display: none; }
html[lang='wu'] .-MatchLang [lang]:not([lang|='wu']) { display: none; }
html[lang='wv'] .-MatchLang [lang]:not([lang|='wv']) { display: none; }
html[lang='ww'] .-MatchLang [lang]:not([lang|='ww']) { display: none; }
html[lang='wx'] .-MatchLang [lang]:not([lang|='wx']) { display: none; }
html[lang='wy'] .-MatchLang [lang]:not([lang|='wy']) { display: none; }
html[lang='wz'] .-MatchLang [lang]:not([lang|='wz']) { display: none; }
html[lang='xa'] .-MatchLang [lang]:not([lang|='xa']) { display: none; }
html[lang='xb'] .-MatchLang [lang]:not([lang|='xb']) { display: none; }
html[lang='xc'] .-MatchLang [lang]:not([lang|='xc']) { display: none; }
html[lang='xd'] .-MatchLang [lang]:not([lang|='xd']) { display: none; }
html[lang='xe'] .-MatchLang [lang]:not([lang|='xe']) { display: none; }
html[lang='xf'] .-MatchLang [lang]:not([lang|='xf']) { display: none; }
html[lang='xg'] .-MatchLang [lang]:not([lang|='xg']) { display: none; }
html[lang='xh'] .-MatchLang [lang]:not([lang|='xh']) { display: none; }
html[lang='xi'] .-MatchLang [lang]:not([lang|='xi']) { display: none; }
html[lang='xj'] .-MatchLang [lang]:not([lang|='xj']) { display: none; }
html[lang='xk'] .-MatchLang [lang]:not([lang|='xk']) { display: none; }
html[lang='xl'] .-MatchLang [lang]:not([lang|='xl']) { display: none; }
html[lang='xm'] .-MatchLang [lang]:not([lang|='xm']) { display: none; }
html[lang='xn'] .-MatchLang [lang]:not([lang|='xn']) { display: none; }
html[lang='xo'] .-MatchLang [lang]:not([lang|='xo']) { display: none; }
html[lang='xp'] .-MatchLang [lang]:not([lang|='xp']) { display: none; }
html[lang='xq'] .-MatchLang [lang]:not([lang|='xq']) { display: none; }
html[lang='xr'] .-MatchLang [lang]:not([lang|='xr']) { display: none; }
html[lang='xs'] .-MatchLang [lang]:not([lang|='xs']) { display: none; }
html[lang='xt'] .-MatchLang [lang]:not([lang|='xt']) { display: none; }
html[lang='xu'] .-MatchLang [lang]:not([lang|='xu']) { display: none; }
html[lang='xv'] .-MatchLang [lang]:not([lang|='xv']) { display: none; }
html[lang='xw'] .-MatchLang [lang]:not([lang|='xw']) { display: none; }
html[lang='xx'] .-MatchLang [lang]:not([lang|='xx']) { display: none; }
html[lang='xy'] .-MatchLang [lang]:not([lang|='xy']) { display: none; }
html[lang='xz'] .-MatchLang [lang]:not([lang|='xz']) { display: none; }
html[lang='ya'] .-MatchLang [lang]:not([lang|='ya']) { display: none; }
html[lang='yb'] .-MatchLang [lang]:not([lang|='yb']) { display: none; }
html[lang='yc'] .-MatchLang [lang]:not([lang|='yc']) { display: none; }
html[lang='yd'] .-MatchLang [lang]:not([lang|='yd']) { display: none; }
html[lang='ye'] .-MatchLang [lang]:not([lang|='ye']) { display: none; }
html[lang='yf'] .-MatchLang [lang]:not([lang|='yf']) { display: none; }
html[lang='yg'] .-MatchLang [lang]:not([lang|='yg']) { display: none; }
html[lang='yh'] .-MatchLang [lang]:not([lang|='yh']) { display: none; }
html[lang='yi'] .-MatchLang [lang]:not([lang|='yi']) { display: none; }
html[lang='yj'] .-MatchLang [lang]:not([lang|='yj']) { display: none; }
html[lang='yk'] .-MatchLang [lang]:not([lang|='yk']) { display: none; }
html[lang='yl'] .-MatchLang [lang]:not([lang|='yl']) { display: none; }
html[lang='ym'] .-MatchLang [lang]:not([lang|='ym']) { display: none; }
html[lang='yn'] .-MatchLang [lang]:not([lang|='yn']) { display: none; }
html[lang='yo'] .-MatchLang [lang]:not([lang|='yo']) { display: none; }
html[lang='yp'] .-MatchLang [lang]:not([lang|='yp']) { display: none; }
html[lang='yq'] .-MatchLang [lang]:not([lang|='yq']) { display: none; }
html[lang='yr'] .-MatchLang [lang]:not([lang|='yr']) { display: none; }
html[lang='ys'] .-MatchLang [lang]:not([lang|='ys']) { display: none; }
html[lang='yt'] .-MatchLang [lang]:not([lang|='yt']) { display: none; }
html[lang='yu'] .-MatchLang [lang]:not([lang|='yu']) { display: none; }
html[lang='yv'] .-MatchLang [lang]:not([lang|='yv']) { display: none; }
html[lang='yw'] .-MatchLang [lang]:not([lang|='yw']) { display: none; }
html[lang='yx'] .-MatchLang [lang]:not([lang|='yx']) { display: none; }
html[lang='yy'] .-MatchLang [lang]:not([lang|='yy']) { display: none; }
html[lang='yz'] .-MatchLang [lang]:not([lang|='yz']) { display: none; }
html[lang='za'] .-MatchLang [lang]:not([lang|='za']) { display: none; }
html[lang='zb'] .-MatchLang [lang]:not([lang|='zb']) { display: none; }
html[lang='zc'] .-MatchLang [lang]:not([lang|='zc']) { display: none; }
html[lang='zd'] .-MatchLang [lang]:not([lang|='zd']) { display: none; }
html[lang='ze'] .-MatchLang [lang]:not([lang|='ze']) { display: none; }
html[lang='zf'] .-MatchLang [lang]:not([lang|='zf']) { display: none; }
html[lang='zg'] .-MatchLang [lang]:not([lang|='zg']) { display: none; }
html[lang='zh'] .-MatchLang [lang]:not([lang|='zh']) { display: none; }
html[lang='zi'] .-MatchLang [lang]:not([lang|='zi']) { display: none; }
html[lang='zj'] .-MatchLang [lang]:not([lang|='zj']) { display: none; }
html[lang='zk'] .-MatchLang [lang]:not([lang|='zk']) { display: none; }
html[lang='zl'] .-MatchLang [lang]:not([lang|='zl']) { display: none; }
html[lang='zm'] .-MatchLang [lang]:not([lang|='zm']) { display: none; }
html[lang='zn'] .-MatchLang [lang]:not([lang|='zn']) { display: none; }
html[lang='zo'] .-MatchLang [lang]:not([lang|='zo']) { display: none; }
html[lang='zp'] .-MatchLang [lang]:not([lang|='zp']) { display: none; }
html[lang='zq'] .-MatchLang [lang]:not([lang|='zq']) { display: none; }
html[lang='zr'] .-MatchLang [lang]:not([lang|='zr']) { display: none; }
html[lang='zs'] .-MatchLang [lang]:not([lang|='zs']) { display: none; }
html[lang='zt'] .-MatchLang [lang]:not([lang|='zt']) { display: none; }
html[lang='zu'] .-MatchLang [lang]:not([lang|='zu']) { display: none; }
html[lang='zv'] .-MatchLang [lang]:not([lang|='zv']) { display: none; }
html[lang='zw'] .-MatchLang [lang]:not([lang|='zw']) { display: none; }
html[lang='zx'] .-MatchLang [lang]:not([lang|='zx']) { display: none; }
html[lang='zy'] .-MatchLang [lang]:not([lang|='zy']) { display: none; }
html[lang='zz'] .-MatchLang [lang]:not([lang|='zz']) { display: none; }
