@import '@monochromatic-dev/style-monochromatic/mixin.css';

header {
  inset-block-start: 0;

  position: sticky;

  /* background-color: var(--bg-lighter); */
  background-color: oklch(from var(--bg-lighter) l c h / 50%);

  backdrop-filter: blur(calc(var(--blur-m) * var(--rp)));

  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  justify-content: space-between;

  padding-inline: calc(var(--gap-l) * var(--rp));

  z-index: 1;

  box-shadow: 0 calc(var(--gap-s) * var(--rp)) calc(var(--blur-m) * var(--rp))
    calc(var(--gap-s) * var(--rp)) oklch(from var(--subtle) l c h / 20%);
}

.siteName {
  @apply --h6;

  color: var(--primary);

  font-family: var(--mono);

  font-weight: 500;
}

img[alt='avatar'] {
  /* magic number 32 */
  max-inline-size: calc(32 * var(--rp));
}

:is(button, .brand) {
  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  column-gap: calc(var(--gap-m) * var(--rp));

  align-items: center;

  min-block-size: calc(var(--min-interactive) * var(--rp));
}

#search {
  &:popover-open {
    position: fixed;

    inset-inline: 0;

    inset-block: 0;

    margin-inline: auto;

    margin-block: auto;

    padding-inline: calc(var(--gap-3xl) * var(--rp));

    inline-size: fit-content;

    block-size: fit-content;

    display: flex;

    flex-direction: column;

    row-gap: calc(var(--gap-3xl) * var(--rp));

    max-inline-size: calc(var(--max-ui) * var(--rp));

    min-inline-size: calc(var(--min-text) * var(--rp));

    > search {
      > label {
        display: block;

        inline-size: 100%;
      }
    }

    > .Header__tags {
      @apply --flex-center;

      column-gap: calc(var(--gap-m) * var(--rp));

      row-gap: calc(var(--gap-l) * var(--rp));

      max-inline-size: calc(var(--max-ui) * var(--rp));

      > li {
        &:has(details[open]) {
          min-inline-size: 100%;
        }
      }

      details {
        > .Posts {
          max-inline-size: var(--max-ui);
        }

        > summary {
          @apply --flex-center;
          @apply --touch-target;
          @apply --h5;

          color: var(--primary);

          > span {
            &::before {
              content: '#';
            }
          }
        }
      }
    }

    &::backdrop {
      backdrop-filter: blur(calc(var(--blur-l) * var(--rp))) brightness(25%);
    }
  }
}
