@import '@monochromatic-dev/stylesheet-monochromatic/mixin.css';

.Post {
  content-visibility: auto;

  :has(.overlay:hover) {
    color: var(--fg-plus);
  }

  max-inline-size: calc(var(--comfort-text) * var(--rp));

  min-inline-size: calc(var(--min-text) * var(--rp));
}

.content {
  pointer-events: none;

  a {
    pointer-events: auto;
  }

  display: flex;

  flex-direction: column;

  row-gap: calc(var(--gap-s) * var(--rp));
}

.Post h2 {
  @apply --h4;

  text-wrap: balance;

  display: -webkit-box;

  /* stylelint-disable-next-line property-no-deprecated -- required for -webkit-line-clamp */
  -webkit-box-orient: block-axis;

  -webkit-line-clamp: 2;
}

.description {
  display: -webkit-box;

  /* stylelint-disable-next-line property-no-deprecated -- required for -webkit-line-clamp */
  -webkit-box-orient: block-axis;

  -webkit-line-clamp: 4;
}

.tags {
  @apply --flex-start-center;

  column-gap: calc(var(--gap-m) * var(--rp));

  > li {
    > a {
      @apply --flex-center;

      > span {
        @apply --h6;

        color: var(--primary);

        &::before {
          content: '#';

          color: color-mix(in oklch, var(--primary), var(--subtle));
        }
      }
    }
  }
}

.overlay {
  color: color(srgb 0 0 0 / 0%);

  display: block;

  inline-size: 100%;

  block-size: 100%;

  position: absolute;

  inset-block: 0;

  inset-inline: 0;
}

.date {
  color: var(--subtle);
}
