.Posts {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(calc(var(--min-text) * var(--rp)), 1fr));

  column-gap: calc(var(--gap-xxl) * var(--rp));

  row-gap: calc(var(--gap-xxl) * var(--rp));

  inline-size: 100%;
}
