:root {
  --lighter: #fff;
  --light: #f9f6f7;
  --light-darker: #f4f0f2;
  --darker: #000;
  --dark: #1a181a;
  --dark-lighter: #232123;
  --subtle-darker: #4f4349;
  --subtle: #6e6168;
  --subtle-lighter: #a4969d;
  --primary-darker: #674a63;
  --primary: #966783;
  --primary-lighter: #a67d94;
}
