footer {
  min-block-size: calc(var(--length-m) + 2 * var(--gap-m));

  padding-block: var(--gap-m);

  @mixin --flex-center;

  background-color: var(--bg-darker);

  color: var(--subtle);

  > div {
    @mixin --flex-center;
    @mixin --text;

    column-gap: var(--gap-l);

    > * {
      @mixin --flex-center;

      column-gap: var(--gap-s);

      > * {
        @mixin --flex-center;

        column-gap: var(--gap-s);

        > * {
          @mixin --flex-center;
        }
      }
    }
  }
}
