header {
  contain: layout;

  box-shadow: 0--rp 2--rp 4--rp 2--rp rgb(0 0 0 / 10%);

  position: sticky;

  top: 0;

  z-index: 2;

  background-color: var(--bg-lighter);

  padding-inline-start: calc(var(--gap-m) - (var(--length-m) - var(--length-s)) / 2);

  padding-inline-end: var(--gap-m);

  > div {
    display: flex;

    justify-content: space-between;

    max-inline-size: var(--max-ui);

    margin-inline: auto;

    a {
      display: inline-block;

      @mixin --touch-target;
    }

    > a {
      @mixin --flex-center;

      > img {
        &[alt='avatar'] {
          border-radius: 50%;

          border-style: solid;

          border-color: var(--subtle-);

          border-width: 1--rp;

          inline-size: var(--length-s);

          block-size: var(--length-s);
        }
      }
    }

    > nav {
      @mixin --flex-center;

      column-gap: var(--gap-s);

      > button {
        @mixin --flex-center;

        > svg {
          color: var(--primary);
        }
      }

      > a {
        @mixin --button-text;
        @mixin --flex-center;
      }
    }
  }
}

#search {
  input[name='q'] {
    @mixin --touch-target;
    @mixin --text;

    text-align: center;

    font-size: 18--rp;

    &::placeholder {
      opacity: 0.5;
    }
  }

  .Header__tags {
    display: none;
  }

  &:popover-open {
    position: fixed;

    inset: 0;

    margin: auto;

    inline-size: fit-content;

    block-size: fit-content;

    form {
      @mixin --flex-center;
    }

    input[name='q'] {
      border-radius: 8--rp;

      font-size: 2em;

      &::-webkit-search-cancel-button {
        appearance: none;
      }

      &:focus {
        background-image: revert;

        font-weight: bolder;
      }
    }

    .Header__tags {
      @mixin --flex-center;

      column-gap: var(--gap-m);

      row-gap: var(--gap-l);

      max-inline-size: var(--max-ui);

      > li {
        &:has(details[open]) {
          min-inline-size: 100%;
        }
      }

      details {
        > .Posts {
          max-inline-size: var(--max-ui);
        }

        > summary {
          @mixin --flex-center;
          @mixin --touch-target;
          @mixin --h5;

          color: var(--primary);

          > span {
            &::before {
              content: '#';
            }
          }
        }
      }
    }

    &::backdrop {
      background-color: rgb(0 0 0 / 1%);

      backdrop-filter: blur(1vmax);
    }
  }
}
