.Post {
  content-visibility: auto;

  .Post__content {
    pointer-events: none;

    a {
      pointer-events: auto;
    }
  }

  h2 {
    @mixin --h3;

    text-wrap: balance;
  }

  p {
    text-align: justify;

    word-break: break-all;

    display: -webkit-box;

    -webkit-box-orient: block-axis;

    &.Post__description {
      -webkit-line-clamp: 1;
    }

    &.Post__summary {
      -webkit-line-clamp: 3;
    }
  }

  .Post__tags {
    @mixin --flex-start-center;

    column-gap: var(--gap-s);

    > li {
      > a {
        @mixin --flex-center;

        > span {
          @mixin --h6;

          &::before {
            content: '#';
          }
        }
      }
    }
  }

  :has(.overlay:hover) {
    color: var(--fg-plus);
  }

  .overlay {
    color: rgb(0 0 0 / 0%);

    display: block;

    inline-size: 100%;

    block-size: 100%;

    position: absolute;

    inset: 0;
  }

  .date {
    color: var(--subtle);
  }
}
