:root {
  color-scheme: light dark;
  print-color-adjust: economy;
  scroll-behavior: smooth;

  --bg-plus: var(--lighter);
  --bg: var(--light);
  --bg-: var(--light-darker);
  --bg-lighter: var(--lighter);
  --bg-darker: var(--light-darker);
  --fg-plus: var(--darker);
  --fg: var(--dark);
  --primary-plus: var(--primary-darker);
  --primary-: var(--primary-lighter);
  --subtle-plus: var(--subtle-darker);
  --subtle-: var(--subtle-lighter);

  @media (prefers-color-scheme: dark) {
    --bg-plus: var(--darker);
    --bg: var(--dark);
    --bg-: var(--dark-lighter);
    --bg-lighter: var(--dark-lighter);
    --bg-darker: var(--darker);
    --fg-plus:  var(--lighter);
    --fg: var(--light);
    --primary-plus: var(--primary-lighter);
    --primary-: var(--primary-darker);
    --subtle-plus: var(--subtle-lighter);
    --subtle-: var(--subtle-darker);
  }

  --p: calc(1 / 16);
  --rp: calc(1rem / 16);
  --ep: calc(1em / 16);
  --xp: calc(1ex / 8);
  --cp: calc(1ch / 8);

  :lang(ZH, JP, KR) {
    --xp: calc(1ex / 16);
    --cp: calc(1ch / 16);
  }

  --length-xxs: 16--rp;
  --length-xs: 24--rp;
  --length-s: 32--rp;
  --length-m: 48--rp;
  --length-l: 64--rp;
  --length-xl: 96--rp;
  --length-xxl: 128--rp;

  --gap-xxs: 2--rp;
  --gap-xs: 4--rp;
  --gap-s: 8--rp;
  --gap-m: 16--rp;
  --gap-l: 24--rp;
  --gap-xl: 32--rp;
  --gap-xxl: 48--rp;

  --max-text: 768--ep;
  --comfort-text: 512--ep;
  --min-text: 256--ep;

  --max-ui: 1024--rp;

  @media (prefers-reduced-motion) {
    scroll-behavior: revert;
  }
}

:focus-visible {
  background-image: linear-gradient(var(--bg) 0 100%), repeating-linear-gradient(45deg, transparent 0 var(--gap-xs), var(--subtle-) var(--gap-xs) 2--gap-xs);
  background-size: calc(100% - 2--gap-xxs) calc(100% - 2--gap-xxs), cover;
  background-position: center, center;
  background-repeat: no-repeat;
}

:is(*, *::before, *::after) {
  box-sizing: border-box;
  accent-color: var(--primary);
  box-decoration-break: clone;
  caret-color: var(--primary);
  contain: layout paint;
  hanging-punctuation: first allow-end last;
  hyphens: auto;
  orphans: 2;
  word-break: auto-phrase;
  text-decoration-skip-ink: all;
}

:is(body, html) {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg);
  scrollbar-color: var(--subtle-) var(--bg);
  &:has(#search:popover-open) {
    scrollbar-gutter: stable;
    @supports (overflow-block: clip) {
      overflow-block: clip;
    }
    @supports not (overflow-block: clip) {
      overflow-y: clip;
    }
  }
}

body {
  font-family: var(--sans);
  font-variant-numeric: slashed-zero tabular-nums;
  text-rendering: optimizeLegibility;
  background-color: var(--bg);
  color: var(--fg);
}

:is(summary, button, a):not(p a) {
  @apply --touch-target;
}

article {
  @apply --text;
}

a:not(:has(h2)) {
  color: var(--primary);
  &:visited {
    color: var(--primary-);
  }
  &:hover {
    color: var(--primary-plus);
    background-image: radial-gradient(var(--bg-plus), transparent);
  }
}


p {
  @apply --p;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--subtle-plus);
}


h1 {
  @apply --h1;
}


h2:not(.a h2) {
  @apply --h2;
}


h3 {
  @apply --h3;
}


h4 {
  @apply --h4;
}


h5 {
  @apply --h5;
}


h6 {
  @apply --h6;
}

img {
  max-width: 100%;
  height: auto;
}

@counter-style dash {
  system: cyclic;
  symbols: '--';
  suffix: '. ';
}

@counter-style wave {
  system: cyclic;
  symbols: '~~';
  suffix: '. ';
}
