:root {
  scroll-behavior: smooth;
}

:is(*, *::before, *::after) {
  overflow: clip;
}

html {
  scroll-behavior: smooth;
  &:focus-within {
    scroll-behavior: smooth;
  }
  overflow-y: hidden;

  inline-size: 100dvi;
  margin: 0;
}

body {
  margin:0;
  scroll-behavior: smooth;
  inline-size: 100%;
}

p {
  max-inline-size: 100%;
  word-break: break-all;
}

