@font-face {
  font-family: Aquaticat;

  font-style: normal;

  font-weight: normal;

  font-display: swap;

  src:
    url('../dist/Aquaticat-Regular.woff2') format('woff2'),
    url('../dist/Aquaticat-Regular.otf') format('opentype');
}
