main {
  min-block-size: calc(100dvb - (var(--length-m)) - var(--length-m) - 2 * var(--gap-m));
  padding-inline: var(--gap-m);
  padding-block: var(--gap-l);

  > div {
    margin-inline: auto;
    max-inline-size: var(--max-ui);
    @apply --flex-center-start;
    align-content: space-around;
    column-gap: var(--gap-l);
    row-gap: var(--gap-l);
  }
}
