#authoredCss {
  position: absolute;

  /* stylelint-disable-next-line unit-disallowed-list */
  top: calc(3840px * -2); /* Special iframe to locate outside view */
}

.iframeContainer,
html {
  overflow-block: clip;

  overflow-y: clip;

  overflow-inline: clip;

  overflow-x: clip;

  position: relative;

  max-inline-size: min(100%, 100dvi);

  max-block-size: min(100%, 100dvb);
}
